<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Cashbury,</h1>
    <p>
      You requested a password reset for this email address: <%= @user.email %><br/>
    </p>
    <p>
      You can reset your password by clicking on the link below:
    </p>

    <p>
      <%= password_reset_url(@user.reset_password_token) %>
    </p>
    <p></p>
  </body>
</html>